*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 10%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
}
.one{
    color: white;
    font-size: 20px;
}
header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header ul li{
    color: white;
}
.site{
    display: flex;
    padding: 30px;
    margin: 30px;
    font-size: 20px;
}
.fire button{
    width: 120px;
    height: 40px;
    background-color: orange;
    color: white;
    font-size: 15px;
}
.fire i{
    color: orange;
}
.fir h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fir{
    display: grid;
    gap: 20px;
}
.fire{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
section#first{
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.7)), url(images/backround.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
.secon img{
    width: 600px;
    height: 350px;
    border-radius: 15px;
}
.one-second{
    width: 650px;
    display: grid;
    gap: 15px;
}
.two-second{
    width: 650px;
    display: grid;
    margin-left: auto;
    margin-top: -550px;
    gap: 15px;

}
.two-second .noob{
    color: grey;
}
.secon i{
    display: flex;
    color: orange;
    font-size: 55px;
    margin-left: 1000px;
    margin-top: -190px;
}
section#second{
    /* border: 2px solid red; */
    padding: 5% 5%;
    height: 720px;
}
.one-card{
    /* border: 1px solid red; */
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
} 
.one-card i{
    font-size: 35px;
    color: orange;
}
section#small{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(1 4fr);
    gap: 70px;
    padding: 0 10%;
    display: flex;
    height: 150px;
    align-items: center;
    background-color: rgba(169, 216, 234, 0.897);
}
.first-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 2%;
    margin: 0 5%;
    border: 2px solid white;
    width: 300px;
    height: 200px;
    margin-top: -50px;
    position: relative;
    top: -50px;
    left: 70px;
    background-color: white;
    border-radius: 15px;
    gap: 15px;
}
.two-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 2%;
    margin: 0 5%;
    border: 2px solid white;
    width: 300px;
    height: 200px;
    position: relative;
    top: -250px;
    left: 550px;
    background-color: white;
    border-radius: 15px;
    gap: 15px;
}
.three-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 2%;
    margin: 0 5%;
    border: 2px solid white;
    width: 300px;
    height: 200px;
    position: relative;
    top: -450px;
    left: 1020px;
    background-color: white;
    border-radius: 15px;
    gap: 15px;
}
.never-images img{  
    width: 450px;
    height: 350px;
    border-radius: 15px;
}
.never-images{
    display: flex;
    padding: 0 5%;
    gap: 20px;
}
.one-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: relative;
    font-size: 30px;
    color: orange;
    border: 2px solid orange;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    top: -680px;
    left: 260px;
}
.two-icon{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 2px solid orange;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 25px;
    color: orange;
    background-color: white;
    top: -740px;
    left: 740px;
}
.head{
        height: 80px;
}
.head h1{
    font-size: 35px;
}
.head h4{
    font-size: 18px;
    color: grey;
}
.three-icon{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 25px;
    color: orange;
    background-color: white;
    top: -800px;
    left: 1220px;
}
section#never{
    display: flex;
    /* border: 2px solid black ; */
    flex-direction: column;
    position: relative;
    bottom: -35px;
    padding: 0 5%;
    height: 570px;
}
.center-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 0 20%;
}
.center-img{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin-bottom: 15px;
    filter: grayscale(100%);
}
.center-img:hover img{
    filter: grayscale(0%);
}
section#center{
    height: 150px;
}
.agent-one{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    padding: 0 1%;
    width: 270px;
    height: 90px;
    gap: 10px;
    color: white;
    background-color: orange;
}
.agent-one i{
    font-size: 30px;
    color: white;
}
.agent-cards{
    display: flex;
    padding: 0 10%;
    gap: 30px;
    height: 120px;
}
.agent-second{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height:500px;
    width: 690px;
    gap: 15px;
}
.agent-their img{
    position: relative;
    width: 600px;
    height: 410px;
}
.agent-two{
    display: flex;
}
.agent-second p{
    position: relative;
    left: 20px;
}
.number-one{
    position: relative;
    top: -380px;
    right: 5px;
    color: orange;
}
.number-two i{
    position: relative;
    top: -364px;
    right: 5px;
    color: orange;
}
.number-three i{
    position: relative;
    top: -340px;
    right: 5px;
    color: orange;
}
section#agent{
    padding: 0 5%;
    height: 590px;
    /* border: 2px solid red; */
}
.midlle-cards{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    padding: 0 5%;
    gap: 10px;
}
.middle-card{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 520px;
    height: 120px;
    gap: 10px;
    padding: 0 1%;
    background-color: white;
}
.middle-card i{
    font-size: 20px;
    color: orange;
}
section#midlle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    height: 480px;
    padding: 0 5%;
    background-color: rgba(176, 255, 229, 0.708);
}
.humans-prof img{
    width: 80px;
    border-radius: 50%;
}
.humans-icon i{
    color: yellow;
}
.humans-prof{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    color: white;
    /* border: 2px solid red; */
    width: 850px;
    gap: 10px;
}
.humans-prof span{
    position: relative;
    left: 150px;
}
section#humans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    background-image: linear-gradient(rgba(0,0,0,0.7)), url(images/head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.peop-cards img{
    width: 400px;
}
.peop-cards{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 4fr);
    gap: 30px;
    padding: 0 1%;
}
.image-icons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.people ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    /* border: 2px soid red; */
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    gap: 20px;
}
.peop-head h4{
    text-transform: uppercase;
    color: grey;
}
section#people{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0 10%;
    height: 1500px;
}
.build-img img{
    width: 400px;
}
.build-img{
    display: flex;
    padding: 0 10%;
    gap: 20px;
}
.buil-card{
    /* border: 2px solid grey; */
    width: 320px;
    height: 100px;
    position: relative;
    padding: 0 1%;
    background-color: white;
    top: -60px;
    left: 190px;
}
.buil-icon{
    color: grey;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 25px;
    left: 200px;
} 
.buil-card p{
    position: relative;
    bottom: -32px;
    color: grey;
}
.buil-card2{
    position: relative;
    width: 320px;
    height: 100px;
    padding-bottom: 10px;
    padding: 0 1%;
    /* border: 2px solid grey; */
    background-color: white;
    top: -160px;
    left: 610px;
}
.buil-card2 p{
    position: relative;
    bottom: -32px;
    color: grey;
}
.buil-card3{
    position: relative;
    width: 320px;
    height: 100px;
    padding-bottom: 10px;
    padding: 0 1%;
    /* border: 2px solid grey; */
    background-color: white;
    top: -260px;
    left: 1030px;
}
.buil-card3 p{
    position: relative;
    bottom: -32px;
    color: grey;
}
.buil-head{
    padding: 0 5%;
    margin-top: 30px;
    margin-bottom: 50px;
}
section#building{

    border: 1px solid white;
    height: 620px;
    background-color: rgba(214, 240, 231, 0.918);
}
.end-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 120px;
    border: 2px solid grey;
    gap: 10px;
}
.end-card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    width: 200px;
    height: 100px;
    gap: 5px;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.contact-body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}
.contact-form{
    box-shadow: 0 5px 5px black;
}